# I learned as part of this project that setting variables in 
# a .env file, docker compose will look for the values declared
# within by default.  

SPLUNKBASE_USERNAME="username@provider.tld"
SPLUNKBASE_PASSWORD="password1234"
SPLUNK_APPS_URL="https://splunkbase.splunk.com/app/742/release/10.0.1/download"
SPLUNK_PASSWORD="changeme"